version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: financeiro_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: financeiro
      MYSQL_USER: financeiro
      MYSQL_PASSWORD: 12345
    ports:
      - "3309:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
